@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

@media (max-width: 768px) {
  .n-button--primary-type {
    background-color: var(--gray-900) !important;
    color: white !important;
  }
}

/* Hide scrollbar for all browsers */
body,
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* Hide scrollbar for Webkit-based browsers (Chrome, Safari) */
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
